@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;600&family=Pacifico&display=swap");

body {
    font-family: "Cormorant Garamond", cursive;
}

h1 {
    font-size: 4.2rem;
    font-family: "Cormorant Garamond", cursive;
    font-weight: 600;
}

h2 {
    font-size: 3.5rem;
    font-family: "Cormorant Garamond", cursive;
    font-weight: 600;
}

p {
    font-size: 1.3rem;
    line-height: 1;
    font-family: "Cormorant Garamond", cursive;
    font-weight: 300;
}

.cursive {
    font-family: "Pacificco", cursive;
}

.prose img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.home-name {
    font-size: 1.4rem;
}
